@model IEnumerable<Order>
@{
    ViewData["Title"] = "UserOrder";
}
<div style="width:100%;margin:auto" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>
    <h3>Đơn hàng</h3>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ngày đặt</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var order in Model)
                {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td> 
                </tr>
                    @if(order.OrderDetail != null && order.OrderDetail.Count > 0)
                    {
                        <tr>
                        <td>
                            <table class="table table-striped">
                                <thead>
                                       
                                    <tr>
                                        <th>Tên sách</th>
                                        <th>Ảnh</th>
                                        <th>Thể loại</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in order.OrderDetail)
                                    {
                                           
                                        <tr>
                                            <td style="text-align:left">@item.Book.BookName</td>
                                            <td>
                                                    @if (!string.IsNullOrEmpty(Convert.ToBase64String(item.Book.Image).ToString()))
                                                    {
                                                        var base64 = Convert.ToBase64String(item.Book.Image);
                                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                        <img src="@imgsrc" height="100px" width="80px" style="border-radius:100%" />

                                                    }
                                                    else
                                                    {
                                                        <img src="/images/bookdefault.jpg" width="80px" height="100px">
                                                        //<img src="/images/@item.Book.Image" width="80px" height="100px">
                                                    }
                                            </td>
                                            <td>@item.Book.Genre.GenreName</td>
                                            <td>@item.Book.Price VNĐ</td>
                                            <td>
                                                <span>@item.Quantity</span>
                                            </td>
                                            <td>@(item.Book.Price * item.Quantity) VNĐ</td>
                                            @* <td>
                                                <a style="color:black" href="/Cart/DeleteItem?bookId=@item.BookId"><i class="bi bi-trash"></i></a>
                                            </td> *@
                                        </tr>
                                    }
                                        <tr>
                                            <td>
                                                Tổng tiền:
                                            </td>
                                            <td>
                                                @(order.OrderDetail.Select(item => item.Book.Price * item.Quantity).Sum()) VNĐ
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </td>
                      </tr>
                    }
                }
            </tbody>    
            
        </table>
    }
    else
    {
        <h3>Không có đơn hàng</h3>
    }

</div>

